<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WMS - Dashboard</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../../style/style.css">
<link rel="stylesheet" href="../../style/navbar.css">

<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  </head>
  <body>
    <%- include('reuse/navbar') %>


          <div class="form-container offset-3 col-4">

          <form id="product-label-form" class="label-form-edit" action="/api/products/update" method="post">
            <h3>Edit Product</h3>
            <input type="text" id="prod-name" name="prod_name" value="" placeholder="Product name" onkeyup="loadPreviewProduct();"><br>

            <input type="text" id="shelf-location" name="shelf_location" value="" placeholder="Shelf location (e.g. A11)" onkeyup="loadPreviewProduct();"><br><br>
            <!--<input type="text" id="row-product" name="row-product" value="" placeholder="Row location (e.g. 7)" onkeyup="loadPreviewProduct();"><br> -->

            <input id="id-input-product-edit" type="number" name="prod_label" placeholder="Label id" readonly ><br>
            <input id="prod-sku" type="text" name="prod_sku" placeholder="Product SKU" onkeyup="loadPreviewProduct();"><br>
            <input type="number" id="stock-amount" name="stock_amount" value="" placeholder="Stock Amount" onkeyup="loadPreviewProduct();"><br>

            <button type="submit" name="submit">Update product</button>

            <h5 style="margin-top:40px;">Label preview</h5>
            <div id="label-preview" class="label-preview label-preview-edit">
              <script type="text/javascript">

                const shelf = document.getElementById('shelf-location');
                const row = document.getElementById('prod-name');
                const id = document.getElementById('id-input-product-edit');
                function loadPreviewProduct() {
                  value = '"' + id.value + '"';
                  document.getElementById('label-title').innerHTML = "" + id.value + " Loc: " + shelf.value + " Name: " + row.value;
                //  document.getElementById('qr-code').innerHTML = `{% qr_from_text "${value}" size="t" image_format="png" error_correction="L" %}`;
                  var typeNumber = 10;
                  var errorCorrectionLevel = 'L';
                  var qr = qrcode(typeNumber, errorCorrectionLevel);
                  qr.addData(id.value);
                  qr.make();
                  document.getElementById('qr-code').innerHTML = qr.createImgTag();
                }



              </script>
              <h5 id="label-title"> Loc:  Row:  </h5>
              <div id="qr-code">

              </div>
              <p id="created_on" style="padding-top:20px;">Created:</p>
            </div>

          </div>
          </form>

          <script>
          const url_header = window.location.pathname;
          let url_id = url_header.substring(15);
          const api_url = "../../api/products/" + url_id;
          async function getapi(url) {

            // Storing response
            const response = await fetch(url);
            let data = await response.json();
            await displayForm(data);

            // Storing data in form of JSON
          //   await displayGraph(data);
          }
          async function displayForm(data) {
            document.getElementById('prod-name').value = data[0].prod_name;
            document.getElementById('shelf-location').value = data[0].prod_location;
            document.getElementById('id-input-product-edit').value = data[0].prod_label;
            document.getElementById('prod-sku').value = data[0].prod_sku;
            document.getElementById('stock-amount').value = data[0].prod_stock;
            document.getElementById('created_on').innerHTML = "" + data[0].prod_date.slice(0,10);
            loadPreviewProduct();

          }


          getapi(api_url);

          </script>


        </div>

      </div>
    </div>


            <script src="../../js/menu.js"></script>
            <script src="../../js/qr.js"></script>
            <script type="text/javascript">
            initPreview();

            </script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
